@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100&family=Poppins:wght@500&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

.banner{
    display: flex;
    height: 450px;
    background-color: rgb(24, 23, 23);
    color: white;
    padding-left: 50px;
    padding-top: 80px;
    margin: 50px;
    border-radius: 50px;
    width: 90%;

}

.container h1{
    font-size: 50px;
    font-weight: 30px;
}
.container p{
    font-size: 14px;

}



